.scramblerButton{
    padding: 0px;
    position: absolute;
    top: 15%;
    left: 5%;
}
.h1 {
    text-align: center;
}
.footballPage{
    position: absolute;
    left: 10%;
    padding: 0px;
    top: 15%;
    text-align: center;
}
.nflPage{
    position: absolute;
    text-align: center;
    top: 48%;
    left: 48%;
}
.cfbPage{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 48%;
}